:root {
  --color-gray: #737373;
  --color-orange: #ffb524;
  --color-orange-alt: #ffb524;
  --color-green: #42b40b;
  --color-green-alt: #328c07;
  --color-white: #fff;

  --font-family-base: 'Open Sans';
  --font-family-title: 'Raleway';

  --container-width: 1240px;
  --container-padding-x: 20px;

  --transition-duration: 0.2s;
}
